# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.egg-info
.eggs
dist
build
*.egg
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
venv
.venv

# IDE
.vscode
.idea
*.swp
*.swo

# Tests
tests

# Docs
*.md
!README.md

# Other
.DS_Store
Thumbs.db
